{{ define "head" }}
    <meta name="gorilla.csrf.Token" content="{{ .csrf_token }}">

    <script src="/static/index.js" defer></script>

    {{ if .is_production }}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2769617767539645" crossorigin="anonymous"></script>
    {{ end }}
{{ end }}

<div id="root"></div>

{{ if .is_production }}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WTES1HXD4J"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WTES1HXD4J');
    </script>
{{ end }}
